/* Body top padding set */
body {
  padding-top: 70px;
}

/* Center Manu */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

/* Center Manu */
.navbar .navbar-collapse {
  text-align: center;
}

/* Surch button problem*/
.glyphicon {
  top: 0px;
}

/*Allign Center*/
.center {
  text-align: center;
}

/* Dropdown Manu Mouse Hover*/
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
}

/* Dropdown Large Div Static*/
.dropdown-large {
  position: static !important;
}

/* Dropdown Large Div left right margin space*/
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}

/* Dropdown Large Div defult margin and padding contol*/
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}

/* Dropdown Large Div defult list bulet pointing remove*/
.dropdown-menu-large > li > ul > li {
  list-style: none;
}

/* Dropdown Large Div Header manu config*/
.dropdown-menu-large .dropdown-header > a {
  color: #428bca;
  padding-left: 0px;
  font-size: 12px;
}

.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
  font-size: 10px;
}

/* Dropdown Large Div list <a> tag underline remove*/
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
}

@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}

/* Manu Underline Broder*/
.navbar-default .navbar-nav > li ul > li > a:hover,
.navbar-default .navbar-nav > li ul > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  border-bottom:3px solid #9e1e22;
 }
