/* Body top padding set */
body {
  padding-top: 107px;
}
@media screen and (max-width: 768px) {
    body { padding-top: 127px; }
}

/* Page Loading gif effect*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/icon/loading_logo.gif) center no-repeat #fff;
}

.sm_nav {
  height: 25px;
}

/* Center Manu */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

/* Center Manu */
.navbar .navbar-collapse {
  text-align: center;
}

/*Change active text color in Manu*/
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
   color: white;
   font-weight: bold;
   font-size: 14px;
}

/*Change bg color in Manu*/
.navbar-default .navbar-nav,
.navbar-default .row {
  background-color: #192f42;
}

/*Change hover text color in Manu*/
.navbar-default .navbar-nav > li > a:hover {
    color: #FFFF00;
}

/* Surch button problem*/
.glyphicon {
  top: 0px;
}

/*Allign Center*/
.center {
  text-align: center;
}

/* Dropdown Manu Mouse Hover*/
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
}

/* Dropdown Large Div Static*/
.dropdown-large {
  position: static !important;
}

/* Dropdown Large Div left right margin space*/
.dropdown-menu-large {
  left: 10% !important;
  right: 10% !important;
  padding: 20px 0px;
}

/* Dropdown Large Div defult margin and padding contol*/
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}

/* Dropdown Large Div defult list bulet pointing remove*/
.dropdown-menu-large > li > ul > li {
  list-style: none;
}

/* Dropdown Large Div Header manu config*/
.dropdown-menu-large .dropdown-header > a {
  color: #428bca;
  padding-left: 0px;
  font-size: 12px;
}

.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #fff;
  white-space: normal;
  font-size: 10px;
}

/* Dropdown Large Div list <a> tag underline remove*/
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
}

@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0px;
    margin-right: 0px;
  }
  .dropdown-menu-large > li {
    margin-bottom: 0px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0px;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}

/* Manu Underline Broder*/
.navbar-default .navbar-nav > li ul > li > a:hover,
.navbar-default .navbar-nav > li ul > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  border-bottom:3px solid #9e1e22;
 }

/* carousel image left shadow effect remove */
.carousel-control.left {
	background-image: none;
}

/* carousel image right shadow effect remove */
.carousel-control.right {
  background-image: none;
}

/* carousel image over arrow effect */
.carousel-control {
  padding-top: 12.25%;
  width:5%;
}

/* Carousel indicators color Styles */
.carousel-indicators .active {
    background-color: #2980b9;
}

/* Low image SHOW is Center */
 .hovereffect {
   width: 100%;
   height: 100%;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
 }

/* Low image Over Text */
 .hovereffect .overlay {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
 }

/* Low image Over Text Border */
 .hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

/* Low image Zoom */
 .hovereffect img {
   display: block;
   position: relative;
   -webkit-transition: all 0.4s ease-in;
   transition: all 0.4s ease-in;
 }

/* Low image over Blear effect */
 .hovereffect:hover img {
   filter: grayscale(1) blur(3px);
   -webkit-filter: grayscale(1) blur(3px);
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
 }

/* Low image over SHOW broder effect */
 .hovereffect a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   border: 1px solid #fff;
   margin: 50px 0 0 0;
   background-color: transparent;
 }

/* Low image over SHOW text effect */
 .hovereffect a.info {
   -webkit-transform: scale(0.7);
   -ms-transform: scale(0.7);
   transform: scale(0.7);
   -webkit-transition: all 0.4s ease-in;
   transition: all 0.4s ease-in;
   opacity: 0;
   filter: alpha(opacity=0);
   color: #fff;
   text-transform: uppercase;
 }

/* Low image over SHOW text come */
 .hovereffect:hover a.info,
 .hovereffect:hover h2 {
   opacity: 1;
   filter: alpha(opacity=100);
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
 }

/* carousel image hover underline text remove */
.wall-entry a:hover {
  text-decoration: none;
}

/* carousel item name text effect */
.inm {
  text-align: center;
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

/* carousel item decraption text effect */
.idec {
  text-align: center;
  font-size: 12px;
}

/* carousel item RS. text effect */
.irs {
  text-align: center;
  color: #008000;
  font-size: 15px;
}

/* carousel item image Zoom */
 .hoeffect img {
   display: block;
   position: relative;
   -webkit-transition: all 0.4s ease-in;
   transition: all 0.4s ease-in;
 }

/* carousel item image over zoom scale set */
 .hoeffect:hover img {
   -webkit-transform: scale(1.09);
   -ms-transform: scale(1.09);
   transform: scale(1.03);
 }

 /* New width for default modal */
@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 450px;
  }
}

/* Footer backgroung color */
.footer {
  background: #252525;
  color:#FFFFFF;
}

/* Footer sub list color and remove link */
.footer li > a {
  text-decoration: none;
  color:#707070;
}
.footer li {
    list-style-type: none;
}

/* Height and width for footer small social icon */
.small_icon {
  height: 30px;
  width: 30px;
}

.brand {
  padding-top: 10px;
  padding-left: 10px;
  height: 45px;
}

/* Left Nav castomize */
.navbar-fixed-left {
  width: 250px;
  border-radius: 0;
  height: 100%;
}
.navbar-fixed-left .navbar-nav > li {
  width: 250px;
}

.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #ffcc33;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,
.scroll-top a:visited {
  color:#222;
}

.search {
  background-color: #ffcc33;
}
